# --- Web Framework & Server ---
fastapi==0.115.0
uvicorn==0.30.0
starlette
h11
anyio

# --- Data Science & Finance ---
numpy>=2.0.0       # 3.12용 미리 빌드된 파일이 널려 있습니다.
pandas>=2.2.2      
pandas-ta
yfinance
matplotlib
pykrx
setuptools

# --- AI & Time Series Forecasting (Prophet) ---
cmdstanpy==1.1.0  
prophet==1.1.5
stanio
holidays

# --- Web Scraping & HTTP Clients ---
requests
beautifulsoup4
urllib3
curl_cffi
soupsieve

# --- Core Utilities & Validation ---
pydantic
pydantic_core
annotated-types
typing_extensions
python-dateutil
pytz
certifi
idna
click
tqdm

# --- Database & Others ---
peewee
frozendict
pillow