<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.mapper.AccountMapper">

    <select id="findByAccId" parameterType="string" resultType="kr.or.ddit.vo.AccountVO">
        SELECT 
            a.acc_seq,
            a.account_id,
            a.account_passwd,
            a.account_name,
            a.account_email,
            a.status,
            a.account_type,
            c.cur_name AS curriculum_name, -- 교육과정 테이블과 조인
            a.reg_date
        FROM lms.tb_account a
        LEFT JOIN lms.tb_curriculum c ON a.cur_seq = c.cur_seq
        WHERE a.account_id = #{accountId}
    </select>

    <update id="updateCurrentToken">
        UPDATE lms.tb_account 
        SET current_token = #{token} 
        WHERE account_id = #{accountId}
    </update>

    <select id="getCurrentToken" resultType="string">
        SELECT current_token 
        FROM lms.tb_account 
        WHERE account_id = #{accountId}
    </select>

    <select id="selectStudentsByCurriculum" parameterType="int" resultType="kr.or.ddit.vo.AccountVO">
        SELECT 
            a.acc_seq,
            a.cur_seq,
            a.account_id,
            a.account_name,
            a.birth,
            a.gender,
            a.tel,
            a.edu,
            a.major,
            a.status,
            a.account_email,
            a.account_type,
            a.reg_date,
            c.cur_name,
            c.room,
            c.term,
            c.start_date,
            c.end_date
        FROM lms.tb_account a
        LEFT JOIN lms.tb_curriculum c ON a.cur_seq = c.cur_seq
        WHERE a.cur_seq = #{curSeq}
          AND a.account_type = 'STU'  ORDER BY a.account_name ASC
    </select>

    <select id="selectAccountDetail" parameterType="int" resultType="kr.or.ddit.vo.AccountVO">
        SELECT 
            a.acc_seq,
            a.account_id,
            a.account_name,
            a.birth,
            a.gender,
            a.tel,
            a.account_email,
            a.address,
            a.edu,
            a.major,
            a.grad_type,
            a.military_status,
            c.cur_seq,
            c.cur_name,
            c.business_name,
            c.start_date,
            c.end_date,
            c.account_seq AS teacher_seq -- 담당자
        FROM 
            lms.tb_account a
        LEFT JOIN 
            lms.tb_curriculum c ON a.cur_seq = c.cur_seq
        WHERE 
            a.acc_seq = #{accSeq}
    </select>

</mapper>