<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.mapper.CurriculumMapper">

    <insert id="insertCurriculum" parameterType="kr.or.ddit.vo.CurriculumVO" 
        useGeneratedKeys="true" keyProperty="curSeq" keyColumn="cur_seq">
        INSERT INTO lms.tb_curriculum (
            room,
            term,
            man_count,
            start_date,
            end_date,
            cur_name,
            account_seq,
            business_name,
            reg_id,
            reg_date,
            status
        ) VALUES (
            #{room},
            #{term, jdbcType=INTEGER},      
            #{manCount, jdbcType=INTEGER},  
            #{startDate},
            #{endDate},
            #{curName},
            #{accountSeq, jdbcType=INTEGER}, 
            #{businessName},
            #{regId},
            NOW(),
            #{status}
        )
    </insert>

    <update id="updateCurriculum" parameterType="kr.or.ddit.vo.CurriculumVO">
        UPDATE lms.tb_curriculum
        SET
            room = #{room},
            term = #{term, jdbcType=INTEGER},
            man_count = #{manCount, jdbcType=INTEGER},
            start_date = #{startDate},
            end_date = #{endDate},
            cur_name = #{curName},
            account_seq = #{accountSeq, jdbcType=INTEGER},
            business_name = #{businessName},
            update_id = #{updateId},      
            update_date = CURRENT_TIMESTAMP 
        WHERE cur_seq = #{curSeq}
    </update>

    <select id="selectCurriculumDetail" parameterType="int" resultType="kr.or.ddit.vo.CurriculumVO">
        SELECT c.*,
            (SELECT account_name FROM lms.tb_account WHERE account_seq = c.account_seq) AS teacherName
        FROM lms.tb_curriculum c
        WHERE cur_seq = #{curSeq}
    </select>

    <update id="deleteCurriculum" parameterType="int">
        UPDATE lms.tb_curriculum
        SET 
            status = 'D',
            update_date = NOW()
        WHERE cur_seq = #{curSeq}
    </update>

</mapper>