<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.Item2Mapper">

	<!-- ITEM 테이블에 insert public int registerPost(Item2VO itemVO) Item2VO(itemId=0, 
		itemName=삼성태블릿, price=120000, description=쓸만함 , pictureUrl=/2025/09/08/asdldfksj_개똥이.jpg, 
		uploadFile=파일객체 -->
	<insert id="registerPost" parameterType="kr.or.ddit.vo.Item2VO">
		<selectKey keyProperty="itemId" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(ITEM_ID),0) + 1 FROM ITEM2
		</selectKey>
		INSERT INTO ITEM2(ITEM_ID, ITEM_NAME, PRICE, DESCRIPTION, PICTURE_URL, PICTURE_URL2)
		VALUES(#{itemId},#{itemName},#{price},#{description},#{pictureUrl},#{pictureUrl2})
	</insert>

	<!-- 실습 2 시작 -->
<!-- 	<select id="detail" parameterType="kr.or.ddit.vo.Item2VO" -->
<!-- 		resultType="kr.or.ddit.vo.Item2VO"> -->
<!-- 		SELECT ITEM_ID, ITEM_NAME, PRICE, DESCRIPTION, PICTURE_URL, PICTURE_URL2 -->
<!-- 		FROM ITEM -->
<!-- 		WHERE ITEM_ID = #{itemId} -->
<!-- 	</select> -->
	<!-- 실습 2 끝 -->
	
	<!-- 실습 3 시작 -->
	<update id="editPost" parameterType="kr.or.ddit.vo.Item2VO">
		UPDATE ITEM2
		SET ITEM_NAME = #{itemName}
			, PRICE = #{price}
			, DESCRIPTION = #{description}
			<if test="pictureUrl!=null and pictureUrl!=''">
			, PICTURE_URL = #{pictureUrl}
			</if>
			<if test="pictureUrl2!=null and pictureUrl2!=''">
			, PICTURE_URL2 = #{pictureUrl2}
			</if>
		WHERE ITEM_ID = #{itemId}
	</update>
	<!-- 실습 3 끝 -->
	
	<!-- 실습 4 시작 -->
	<delete id="deletePost" parameterType="kr.or.ddit.vo.Item2VO">
		DELETE FROM ITEM2
		WHERE ITEM_ID = #{itemId}
	</delete>
	<!-- 실습 4 끝 -->
	
	<!-- 실습 5 시작 -->
<!-- 	<select id="list" parameterType="kr.or.ddit.vo.Item2VO" resultType="kr.or.ddit.vo.Item2VO"> -->
<!-- 		SELECT ITEM_ID, ITEM_NAME, PRICE, DESCRIPTION, PICTURE_URL -->
<!-- 		FROM ITEM -->
<!-- 		ORDER BY ITEM_ID DESC -->
<!-- 	</select> -->
	<!-- 실습 5 끝 -->
	
	<!-- 실습 6 시작 -->
<!-- 	<select id="getTotal" resultType="int"> -->
<!-- 		SELECT COUNT(*) -->
<!-- 		FROM ITEM -->
<!-- 	</select> -->
	<!-- 실습 6 끝 -->
	
	<!-- 실습 7 시작 : 실습 5 주석 처리-->
<!-- 	<select id="list" parameterType="kr.or.ddit.vo.Item2VO" resultType="kr.or.ddit.vo.Item2VO"> -->
<!-- 	    SELECT * -->
<!-- 	    FROM ( -->
<!-- 	        SELECT  -->
<!-- 	            ITEM_ID, -->
<!-- 	            ITEM_NAME, -->
<!-- 	            PRICE, -->
<!-- 	            DESCRIPTION, -->
<!-- 	            PICTURE_URL, -->
<!-- 	            ROW_NUMBER() OVER (ORDER BY ITEM_ID DESC) AS rn -->
<!-- 	        FROM ITEM -->
<!-- 	    ) t -->
<!-- 	    WHERE t.rn BETWEEN #{startRow} AND #{endRow} -->
<!-- 	</select> -->
	<!-- 실습 7 끝 -->
	
	<!-- 실습 8 시작 : 실습 7 주석 처리-->
<!-- 	<select id="list" parameterType="kr.or.ddit.vo.Item2VO" resultType="kr.or.ddit.vo.Item2VO"> -->
<!-- 	    SELECT * -->
<!-- 	    FROM ( -->
<!-- 	        SELECT  -->
<!-- 	            ITEM_ID, -->
<!-- 	            ITEM_NAME, -->
<!-- 	            PRICE, -->
<!-- 	            DESCRIPTION, -->
<!-- 	            PICTURE_URL, -->
<!-- 	            PICTURE_URL2, -->
<!-- 	            ROW_NUMBER() OVER (ORDER BY ITEM_ID DESC) AS rn -->
<!-- 	        FROM ITEM2 -->
<!-- 	        where item_name like '%' || #{keyword} || '%' -->
<!-- 	    ) t -->
<!-- 	    WHERE t.rn BETWEEN #{startRow} AND #{endRow} -->
	     
<!-- 	</select> -->
	<!-- 실습 8 끝 -->
	
	<!-- 실습 9 시작 : 실습 6 주석 처리-->
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM ITEM2
		where item_name like '%' || #{keyword} || '%'
	</select>
	<!-- 실습 9 끝 -->
	
	<!-- 실습 10 시작 -->
	<update id="editPostAjax" parameterType="kr.or.ddit.vo.Item2VO">
		UPDATE ITEM2
		SET    ITEM_NAME = #{itemName}
		    , PRICE = #{price}
		    , DESCRIPTION = #{description}
		    <if test="fileGroupNo!=null and fileGroupNo!=0">
		       , FILE_GROUP_NO = #{fileGroupNo}
		    </if>
		    <if test="pictureUrl!=null and pictureUrl!=''">
				, PICTURE_URL = #{pictureUrl}
			</if>
			<if test="pictureUrl2!=null and pictureUrl2!=''">
				, PICTURE_URL2 = #{pictureUrl2}
			</if>
		WHERE  ITEM_ID = #{itemId}
    </update>
	<!-- 실습 10 끝 -->
	
	<!-- 실습 11 시작 : 실습 2 주석 처리 -->
	
	<resultMap type="kr.or.ddit.vo.Item2VO" id="itemMap">
		<result property="itemId" column="ITEM_ID"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="price" column="PRICE"/>
		<result property="description" column="DESCRIPTION"/>
		<result property="pictureUrl" column="PICTURE_URL"/>
		<result property="pictureUrl2" column="PICTURE_URL2"/>
		<result property="fileGroupNo" column="FILE_GROUP_NO"/>
		<association property="fileGroupVO" resultMap="fileGroupMap"></association>
	</resultMap>
	
	<!-- FILE_GROUP : FILE_DETAIL = 1 : N -->
	<resultMap type="kr.or.ddit.vo.FileGroupVO" id="fileGroupMap">
		<result property="fileGroupNo" column="FILE_GROUP_NO" />
		<result property="fileRegdate" column="FILE_REGDATE" />
		<collection property="fileDetailVOList" resultMap="fileDetailMap"></collection>
	</resultMap>

	<resultMap type="kr.or.ddit.vo.FileDetailVO" id="fileDetailMap">
		<result property="fileSn" column="FILE_SN" />
		<result property="fileGroupNo" column="FILE_GROUP_NO" />
		<result property="fileOriginalName" column="FILE_ORIGINAL_NAME" />
		<result property="fileSaveName" column="FILE_SAVE_NAME" />
		<result property="fileSaveLocate" column="FILE_SAVE_LOCATE" />
		<result property="fileSize" column="FILE_SIZE" />
		<result property="fileExt" column="FILE_EXT" />
		<result property="fileMime" column="FILE_MIME" />
		<result property="fileFancysize" column="FILE_FANCYSIZE" />
		<result property="fileSaveDate" column="FILE_SAVE_DATE" />
		<result property="fileDowncount" column="FILE_DOWNCOUNT" />
	</resultMap>
	
	
<!-- 	<select id="detail" parameterType="kr.or.ddit.vo.Item2VO" -->
<!-- 		resultMap="itemMap"> -->
<!-- 		SELECT I.ITEM_ID, I.ITEM_NAME, I.PRICE, I.DESCRIPTION, I.FILE_GROUP_NO, I.PICTURE_URL, I.PICTURE_URL2 -->
<!-- 		    , FG.FILE_REGDATE -->
<!-- 		    , FD.FILE_SN, FD.FILE_ORIGINAL_NAME, FD.FILE_SAVE_NAME -->
<!-- 		    , FD.FILE_SAVE_LOCATE, FD.FILE_SIZE, FD.FILE_EXT, FD.FILE_MIME -->
<!-- 		    , FD.FILE_FANCYSIZE, FD.FILE_SAVE_DATE, FD.FILE_DOWNCOUNT -->
<!-- 		FROM ITEM2 I -->
<!-- 		LEFT JOIN FILE_GROUP FG ON I.FILE_GROUP_NO = FG.FILE_GROUP_NO -->
<!-- 		LEFT JOIN FILE_DETAIL FD ON FG.FILE_GROUP_NO = FD.FILE_GROUP_NO -->
<!-- 		WHERE I.ITEM_ID = #{itemId} -->
<!-- 	</select> -->
	<!-- 실습 11 끝 -->
	
	<!-- 실습 12 시작 : 실습 8 주석 처리-->
	<select id="list" parameterType="kr.or.ddit.vo.Item2VO" resultType="kr.or.ddit.vo.Item2VO">
	    WITH T AS (
		    SELECT ROWNUM RN
		        , F.ITEM_ID, F.ITEM_NAME, F.PRICE, F.DESCRIPTION, F.PICTURE_URL
		        , F.PICTURE_URL2, F.FILE_GROUP_NO, F.PARENT_ITEM_ID
		        , F.LVL
		        , (SELECT P.ITEM_NAME 
		           FROM ITEM2 P
		           WHERE P.ITEM_ID = F.PARENT_ITEM_ID) AS PARENT_NAME 
		    FROM
		    (
		        SELECT ITEM_ID, ITEM_NAME, PRICE, DESCRIPTION, PICTURE_URL
		            , PICTURE_URL2, FILE_GROUP_NO, PARENT_ITEM_ID
		            , LEVEL LVL
		        FROM ITEM2
		        WHERE 1 = 1
		        <if test="keyword != null and keyword != ''">
				    AND ITEM_NAME LIKE '%' || #{keyword} || '%'
				</if>
		        START WITH PARENT_ITEM_ID IS NULL
		        CONNECT BY PRIOR ITEM_ID = PARENT_ITEM_ID
		        ORDER SIBLINGS BY ITEM_ID DESC
		    ) F
		)
		SELECT * FROM T
		WHERE T.RN BETWEEN (#{currentPage} * 10) - (10 -1) AND (#{currentPage} * 10)
	</select>
	<!-- 실습 12 끝 -->
	
	<!-- 실습 13 시작 : 실습 11의 detail sql 만 주석 처리 -->
	<!-- 1 -->
    <resultMap type="kr.or.ddit.vo.Item2VO" id="item2Map">
        <result property="itemId" column="ITEM_ID"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="price" column="PRICE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="pictureUrl" column="PICTURE_URL"/>
        <result property="pictureUrl2" column="PICTURE_URL2"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO"/>
        <result property="parentItemId" column="PARENT_ITEM_ID"/>
        <result property="writer" column="WRITER"/>
        <association property="fileGroupVO" resultMap="fileGroupMap"></association>
        <collection property="item2VOList" resultMap="item2ChildMap"></collection>
    </resultMap>
    
    <!-- N 또는 0(댓글이 없을 수도 있음) -->
    <resultMap type="kr.or.ddit.vo.Item2VO" id="item2ChildMap">
        <result property="itemId" column="ITEM_ID2"/>
        <result property="itemName" column="ITEM_NAME2"/>
        <result property="price" column="PRICE2"/>
        <result property="description" column="DESCRIPTION2"/>
        <result property="pictureUrl" column="PICTURE_URL2"/>
        <result property="pictureUrl2" column="PICTURE_URL22"/>
        <result property="fileGroupNo" column="FILE_GROUP_NO2"/>
        <result property="parentItemId" column="PARENT_ITEM_ID2"/>
        <result property="writer" column="WRITER2"/>
    </resultMap>
   
    <!-- 
    상세보기
    public Item2VO detail(Item2VO item2VO)
     -->
<!--     <select id="detail" parameterType="kr.or.ddit.vo.Item2VO" resultMap="item2Map"> -->
<!--         SELECT P.ITEM_ID, P.ITEM_NAME, P.PRICE, P.DESCRIPTION, P.PICTURE_URL -->
<!--              , P.PICTURE_URL2, P.FILE_GROUP_NO, P.PARENT_ITEM_ID -->
<!--              , C.ITEM_ID ITEM_ID2, C.ITEM_NAME ITEM_NAME2, C.PRICE PRICE2, C.DESCRIPTION DESCRIPTION2, C.PICTURE_URL PICTURE_URL2 -->
<!--              , C.PICTURE_URL2 PICTURE_URL22, C.FILE_GROUP_NO FILE_GROUP_NO2, C.PARENT_ITEM_ID PARENT_ITEM_ID2 -->
<!--         FROM   ITEM2 P LEFT OUTER JOIN ITEM2 C ON(P.ITEM_ID = C.PARENT_ITEM_ID) -->
<!--         WHERE  P.ITEM_ID = #{itemId} -->
<!--     </select> -->

	<select id="detail" parameterType="kr.or.ddit.vo.Item2VO"
		resultMap="item2Map">
		SELECT I.ITEM_ID, I.ITEM_NAME, I.PRICE, I.DESCRIPTION, I.FILE_GROUP_NO, I.PICTURE_URL, I.PICTURE_URL2, I.WRITER
		    , FG.FILE_REGDATE
		    , FD.FILE_SN, FD.FILE_ORIGINAL_NAME, FD.FILE_SAVE_NAME
		    , FD.FILE_SAVE_LOCATE, FD.FILE_SIZE, FD.FILE_EXT, FD.FILE_MIME
		    , FD.FILE_FANCYSIZE, FD.FILE_SAVE_DATE, FD.FILE_DOWNCOUNT
		    , C.ITEM_ID ITEM_ID2, C.ITEM_NAME ITEM_NAME2, C.PRICE PRICE2, C.DESCRIPTION DESCRIPTION2, C.PICTURE_URL PICTURE_URL2
            , C.PICTURE_URL2 PICTURE_URL22, C.FILE_GROUP_NO FILE_GROUP_NO2, C.PARENT_ITEM_ID PARENT_ITEM_ID2, C.WRITER WRITER2
		FROM ITEM2 I
		LEFT JOIN FILE_GROUP FG ON I.FILE_GROUP_NO = FG.FILE_GROUP_NO
		LEFT JOIN FILE_DETAIL FD ON FG.FILE_GROUP_NO = FD.FILE_GROUP_NO
		LEFT OUTER JOIN ITEM2 C ON(I.ITEM_ID = C.PARENT_ITEM_ID)
		WHERE I.ITEM_ID = #{itemId}
		ORDER BY C.ITEM_ID DESC
	</select>
	
	<!-- 실습 13 끝 -->
	
	<!-- 실습 14 시작 -->
	<insert id="createPostAjax" parameterType="kr.or.ddit.vo.Item2VO">
		<selectKey keyProperty="itemId" order="BEFORE"
			resultType="int">
			SELECT NVL(MAX(ITEM_ID),0) + 1 FROM ITEM2
		</selectKey>
		INSERT INTO ITEM2(ITEM_ID, ITEM_NAME, PRICE, DESCRIPTION, PICTURE_URL, PICTURE_URL2, PARENT_ITEM_ID, WRITER)
		VALUES(#{itemId},#{itemName},#{price},#{description},#{pictureUrl},#{pictureUrl2},#{parentItemId},#{writer})
	</insert>
	<!-- 실습 14 끝 -->
	
	<!-- 실습 15 시작 -->
	<select id="detailAjax" parameterType="kr.or.ddit.vo.Item2VO"
		resultMap="item2Map">
		SELECT I.ITEM_ID, I.ITEM_NAME, I.PRICE, I.DESCRIPTION, I.FILE_GROUP_NO, I.PICTURE_URL, I.PICTURE_URL2, I.WRITER
		    , FG.FILE_REGDATE
		    , FD.FILE_SN, FD.FILE_ORIGINAL_NAME, FD.FILE_SAVE_NAME
		    , FD.FILE_SAVE_LOCATE, FD.FILE_SIZE, FD.FILE_EXT, FD.FILE_MIME
		    , FD.FILE_FANCYSIZE, FD.FILE_SAVE_DATE, FD.FILE_DOWNCOUNT
		    , C.ITEM_ID ITEM_ID2, C.ITEM_NAME ITEM_NAME2, C.PRICE PRICE2, C.DESCRIPTION DESCRIPTION2, C.PICTURE_URL PICTURE_URL2
            , C.PICTURE_URL2 PICTURE_URL22, C.FILE_GROUP_NO FILE_GROUP_NO2, C.PARENT_ITEM_ID PARENT_ITEM_ID2, C.WRITER WRITER2
		FROM ITEM2 I
		LEFT JOIN FILE_GROUP FG ON I.FILE_GROUP_NO = FG.FILE_GROUP_NO
		LEFT JOIN FILE_DETAIL FD ON FG.FILE_GROUP_NO = FD.FILE_GROUP_NO
		LEFT OUTER JOIN ITEM2 C ON(I.ITEM_ID = C.PARENT_ITEM_ID)
		WHERE I.ITEM_ID = #{itemId}
		ORDER BY C.ITEM_ID DESC
	</select>
	<!-- 실습 15 끝 -->
	
	<!-- 실습 16 시작 -->
	<update id="modifyAjax" parameterType="kr.or.ddit.vo.Item2VO">
		UPDATE ITEM2
		SET    ITEM_NAME = #{itemName}
		    , PRICE = #{price}
		    , DESCRIPTION = #{description}
		WHERE  ITEM_ID = #{itemId}
    </update>
    <!-- 실습 16 끝 -->
    
    <!-- 실습 17 시작 -->
    <delete id="deleteAjax" parameterType="kr.or.ddit.vo.Item2VO">
    	DELETE FROM ITEM2
		WHERE ITEM_ID = #{itemId}
    </delete>
    <!-- 실습 17 끝 -->
    
</mapper>