<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.mapper.MemberMapper">

    <select id="findByMemId" parameterType="string" resultType="kr.or.ddit.vo.MemberVO">
        SELECT 
            MEMBER_NO       AS memNo,
            MEMBER_ID       AS memId,
            MEMBER_EMAIL    AS email,
            MEMBER_PASS     AS password,
            MEMBER_NAME     AS memName,
            MEMBER_TYPE     AS memType,
            REG_DATE        AS regDate,
            UPDATE_ID       AS updateId,
            UPDATE_DATE     AS updateDate
        FROM MEMBER
        WHERE MEMBER_EMAIL = #{email}
    </select>

</mapper>