<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.ProductMapper">
	<select id="products" resultType="kr.or.ddit.vo.ProductVO">
		select 
			PRODUCT_ID, PNAME, UNIT_PRICE, DESCRIPTION, MANUFACTURER, CATEGORY, UNITS_IN_STOCK, CONDITION, FILENAME, QUANTITY 
		from product
	</select>

	<!-- 실습 2 시작 -->
	<select id="product" parameterType="kr.or.ddit.vo.ProductVO" resultType="kr.or.ddit.vo.ProductVO">
		SELECT PRODUCT_ID, PNAME, UNIT_PRICE, DESCRIPTION, MANUFACTURER
		     , CATEGORY, UNITS_IN_STOCK, CONDITION, FILENAME, QUANTITY
		FROM   PRODUCT
		WHERE  PRODUCT_ID = #{productId}
	</select>
	<!-- 실습 2 끝 -->
	
	<!-- 실습 3 시작 -->
	<insert id="processAddProduct" parameterType="kr.or.ddit.vo.ProductVO">
		<selectKey resultType="String" order="BEFORE" keyProperty="productId">
			SELECT 'P' || TO_CHAR(NVL(MAX(TO_NUMBER(SUBSTR(PRODUCT_ID, 2))), 0) + 1) AS PRODUCT_ID
			FROM PRODUCT
		</selectKey>
		INSERT INTO PRODUCT(PRODUCT_ID, PNAME, UNIT_PRICE, DESCRIPTION, MANUFACTURER
			, CATEGORY, UNITS_IN_STOCK, CONDITION, FILENAME, QUANTITY)
		VALUES(#{productId},#{pname},#{unitPrice},#{description},#{manufacturer},#{category},#{unitsInStock},#{condition},null,0)
	</insert>
	<!-- 실습 3 끝 -->
</mapper>

