<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.mapper.SubjectMapper">

    <select id="getSubjectsByCurSeq" parameterType="int" resultType="kr.or.ddit.vo.SubjectVO">
        SELECT 
            S.sub_seq,
            S.cur_seq,
            S.sub_name,
            S.start_date,
            S.end_date,
            S.status,
            S.reg_id,
            S.reg_date,
            S.update_id,
            S.update_date,
            S.account_seq,
            A.account_name AS teacherName  
            FROM lms.tb_subject S
        LEFT OUTER JOIN 
            lms.tb_account A ON S.account_seq = A.account_seq
        WHERE 
            S.cur_seq = #{curSeq}
          AND S.status != 'D'
        ORDER BY 
            S.start_date ASC
    </select>

    <insert id="insertSubject" parameterType="kr.or.ddit.vo.SubjectVO">
        <selectKey keyProperty="subSeq" resultType="int" order="AFTER">
            SELECT currval('lms.tb_subject_sub_seq_seq')
        </selectKey>
        
        INSERT INTO lms.tb_subject (
            cur_seq,
            sub_name,
            start_date,
            end_date,
            status,
            reg_id,
            reg_date,
            account_seq
        ) VALUES (
            #{curSeq},
            #{subName},
            #{startDate},
            #{endDate},
            #{status},
            #{regId},
            CURRENT_TIMESTAMP,
            #{accountSeq}
        )
    </insert>

    <update id="updateSubject" parameterType="kr.or.ddit.vo.SubjectVO">
        UPDATE lms.tb_subject
        SET
            sub_name = #{subName},
            start_date = #{startDate},
            end_date = #{endDate},
            status = #{status},
            account_seq = #{accountSeq, jdbcType=INTEGER},
            update_id = #{updateId},
            update_date = CURRENT_TIMESTAMP
        WHERE 
            sub_seq = #{subSeq}
    </update>

</mapper>